<!DOCTYPE html>

<html>

<head>
    
    <title>About</title>

    <link rel="icon" href="/img/weather.jpg">
    
    <link rel='stylesheet' href="/css/styles.css">

    <script src="/js/app.js"></script>

</head>

<body>

    <div class="main-content">

        {{>header }}

        <p>This site was creatd by Jose Ramirez. It uses data from mapbox.com and darksky.net</p>
        
        <img class="portrait" src="/img/joseabel.JPG">

    </div>
    

    {{>footer}}

</body>


</html>